<section class="clients-section pb-0 mt-5">
    <div class="auto-container">
        <div class="sec-title centred">
            <span>WestSide Garage Door and Gates</span>
            <h2>Brands we carry</h2>
        </div>
        <div class="four-item-carousel owl-carousel owl-theme owl-dots-none owl-nav-none d-flex justify-content-center">
            <figure class="clients-logo"><a href="#"><img src="assets/images/clients/clients-logo-1.png" alt=""></a></figure>
            <figure class="clients-logo"><a href="#"><img src="assets/images/clients/clients-logo-2.png" alt=""></a></figure>
            <figure class="clients-logo"><a href="#"><img src="assets/images/clients/clients-logo-3.png" alt=""></a></figure>
            <figure class="clients-logo"><a href="#"><img src="assets/images/clients/clients-logo-4.png" alt=""></a></figure>
            <figure class="clients-logo"><a href="#"><img src="assets/images/clients/clients-logo-5.png" alt=""></a></figure>
            <figure class="clients-logo"><a href="#"><img src="assets/images/clients/clients-logo-6.png" alt=""></a></figure>
        </div>
    </div>
</section>