<section class="project-style-three mt-5">
    <div class="service-section bg-color-1">
        <div class="auto-container">
            <div class="inner-content clearfix">
                <div class="sec-title light centred mb-5">
                    <span>WestSide Garage Door and Gates</span>
                    <h2>Company Portfolio Gallery</h2>
                </div>
                <div class="four-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-15.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-15.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-16.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-16.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-17.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-17.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-18.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-18.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-19.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-19.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-20.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-20.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-21.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-21.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-22.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-22.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-23.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-23.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-24.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-24.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-25.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-25.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-26.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-26.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-27.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-27.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-28.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-28.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-29.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-29.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/project-30.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/project-30.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/welding-images/57.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/welding-images/57.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/gates-images/35.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/gates-images/35.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/gates-images/36.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/gates-images/36.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-column project-block">
                        <div class="project-block-three">
                            <div class="inner-box">
                                <figure class="image-box"><img src="assets/images/gallery/gates-images/37.jpg" alt=""></figure>
                                <div class="content-box">
                                    <div class="view-btn"><a href="assets/images/gallery/gates-images/37.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fal fa-plus"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>