 <!-- main-footer -->
 <!-- margin-bottom-footer -->
        <footer class="main-footer ">
            <div class="auto-container">
                <div class="widget-section">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo"><a href="/"><img src="assets/images/footer-logo.png" alt=""></a></figure>
                                <div class="text">
                                    <h3 class="text-white my-3">WestSide Garage Door and Gates</h3>
                                    <p>We provide full service, on-the-spot gate and garage door installation, repair, and maintenance throughtout dallas metropolitan area.</p>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="https://www.instagram.com/westside_garagedoor/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Our Company</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/portfolio">Portfolio</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Services</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="/garage-door-repair">GARAGE DOOR REPAIR</a></li>
                                        <li><a href="/garage-door-opener">GARAGE DOOR OPENER REPAIR</a></li>
                                        <!-- <li><a href="/garage-door-spring-repair">GARAGE DOOR SPRING REPAIR</a></li>
                                        <li><a href="/garage-door-cable-repair">GARAGE DOOR CABLE REPAIR</a></li>
                                        <li><a href="/overhead-garage-door-repair">OVERHEAD GARAGE DOOR REPAIR</a></li>
                                        <li><a href="/residential-driveway-gate-repair">RESIDENTIAL DRIVING GATE REPAIR</a></li> -->
                                        <li><a href="/gate-operator-programming">GATE OPERATOR PROGRAMMING</a></li>
                                        <li><a href="/gate-track-installation">GATE TRACK INSTALLATION</a></li>
                                        <li><a href="/rolling-steel-door">ROLLING STEEL DOOR</a></li>
                                        <li><a href="/sectional-doors">SECTIONAL DOOR</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Get In Touch</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="info clearfix">
                                        <li>All around DFW Area</li>
                                        <li><a href="tel:+19723027710">(+1) 972-302-7710</a></li>
                                        <li><a href="mailto:info@westsidegates.com">info@westsidegates.com</a></li>
                                        <li><span>Working Hours</span></li>
                                        <li>All Week : 7am to 8pm</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="footer-bottom centred">
                <div class="auto-container">
                    <div class="copyright">
                        <p>@WestSide Garage Door (C) 2024&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    </div>
                </div>
            </div> -->
        </footer>
        <!-- main-footer end -->

        <!-- <div class="sticky-footer">
            <div class="credentialsIcons">
                <footer class="main-footer" style="background-color: #2a4161;">
                    <div class="auto-container">
                        <div class="widget-section pt-2 pb-0">
                            <div class="row clearfix ">
                                <div class="col-12 footer-column">
                                    <div class="footer-widget logo-widget my-0">
                                        <ul class="social-links clearfix d-flex justify-content-center">
                                            <li>
                                                <figure class="footer-logo w-40">
                                                    <img src="assets/images/service_1.png" alt="">
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="footer-logo w-40">
                                                    <img src="assets/images/service_2.png" alt="">
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="footer-logo w-40">
                                                    <img src="assets/images/service_3.png" alt="">
                                                </figure>
                                            </li>
                                            <li>
                                                <figure class="footer-logo w-40">
                                                    <img src="assets/images/service_4.png" alt="">
                                                </figure>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright mb-2">
                        <p class="text-white">© 2024 WestSide Garage Door - All right reserved</p>
                    </div>
                </footer>
            </div>
        </div> -->

        <!--Scroll to top-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="far fa-long-arrow-up"></span>
        </button>
    </div>


    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const toast = document.querySelector(".toast");
      
          if (toast) {
            // Show the toast
            toast.classList.add("show");
      
            // Automatically hide the toast after 5 seconds
            setTimeout(() => {
              toast.classList.remove("show");
            }, 500000);
      
            // Hide the toast when the close button is clicked
            toast.querySelector(".close").addEventListener("click", () => {
              toast.classList.remove("show");
            });
          }
        });
    </script>      

</body><!-- End of .page_wrapper -->
</html>
