<%- include('partials/header') -%>

        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Counter Shutters</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li>Counter Shutters</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details mb-0">
            <div class="px-4">
                <div class="row clearfix">

                    <%- include('partials/commercial-services', { currentUrl: currentUrl }) %>
                    
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <div class="text">
                                    <h2>Counter Shutters</h2>
                                    <div class="content-two">
                                        <div class="text">
                                            <p>WestSide Garage Door’s Rolling Steel Counter Shutters are your solution for Division 8 and Division 11 openings of retail applications; not to exceed 14’ wide and 9’ high.</p>
                                            <p>Our counter shutters are utilized in:</p>
                                            <ul>
                                                <li>Cafeterias</li>
                                                <li>Ticket windows</li>
                                                <li>Airports</li>
                                                <li>Kiosks</li>
                                                <li>WestSide Garage Door Counter ShuttersConcession stands</li>
                                                <li>Specialty Applications</li>
                                                <li>And many more!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <figure class="image-box"><img src="assets/images/service/commertial-images/3.jpg" alt=""></figure>
                                <div class="content-two">
                                    <div class="text">
                                        <p>Fire Safety & Security Options:</p>
                                        <p>Combined with the Seal and Trim Fire Options, you can complete your fire protection precautions for your business with our fire safety and security shutters. Our one unit design hides the locking mechanism from view as well as wires directly into your alarm system – again hidden from view. There are many more benefits to using counter shutters from WestSide Garage Door which include:</p>
                                        <ul>
                                            <li>Our shutters are built to last, with a choice of Counter Shutters in Texassteel, aluminum, or stainless steel construction.</li>
                                            <li>Protect your inventory from theft, harsh weather conditions and fire.</li>
                                            <li>Manual, crank, chain, and motor operation systems available.</li>
                                            <li>Stainless steel and several finishes optional.</li>
                                            <li>Provides many years of daily operation.</li>
                                            <li>Approved for several wall types (concrete, masonry, steel, and more).</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content-two">
                                    <div class="text">
                                        <p>If you have questions about the types of shutters we provide and service, from rolling counter shutters to security shutters to our seal and trim fire protection shutters, we’re ready to answer! Ask our service managers any questions you have and we have the answers to help you choose the best options available for your specific needs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->

        <%- include('partials/company-portfolio-galary') -%>


        
<%- include('partials/footer') -%>
