<%- include('partials/header') -%>

        <!-- banner-section -->
        <section class="banner-section">
            <div class="banner-carousel owl-theme owl-carousel owl-nav-none">
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/banner-1.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h5><i class="icon-warehouse"></i>Welcome To WestSide Service</h5>
                            <h1>Garage Door Dallas</h1>
                            <p>WestSide Garage Door & Gates provides expert repair service for residential, commercial, and industrial garage doors throughout the Dallas, Texas area.  No matter what issue is affecting proper operation of your garage door and/or, our expert team can provide instant solutions. </p>
                            <div class="btn-box clearfix">
                                <div class="call-now">
                                    <div class="inner">
                                        <i class="icon-mob"></i>
                                        <span>Book an Appointment Today!</span>
                                        <h3><a href="tel:+19723027710">(+1) 972-302-7710</a></h3>
                                    </div>
                                </div>
                                <a href="/garage-door-repair" class="theme-btn-one"><span class="btn-shape"></span>learn more</a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/banner-2.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h5><i class="icon-warehouse"></i>Welcome To WestSide Service</h5>
                            <h1>Door Repair Dallas</h1>
                            <p>The expert team here at WestSide Garage Door & Gates provides expert residential gate repair for all manner of technical issues that can affect residential gate operation. Whether your home is outfit with a sliding, swinging, automatic, Iron or manual gate, our team can expertly and efficiently repair any issue.</p>
                            <div class="btn-box clearfix">
                                <div class="call-now">
                                    <div class="inner">
                                        <i class="icon-mob"></i>
                                        <span>Book an Appointment Today!</span>
                                        <h3><a href="tel:+19723027710">(+1) 972-302-7710</a></h3>
                                    </div>
                                </div>
                                <a href="/residential-garage-doors" class="theme-btn-one"><span class="btn-shape"></span>learn more</a>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/banner-1.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h5><i class="icon-warehouse"></i>Welcome To WestSide Service</h5>
                            <h1>Iron Work Welding Service Dallas</h1>
                            <p>The team of experienced technicians here at WestSide Garage Door & Gates provides residential commercial and industrial clients with the highest quality iron work and welding services available in the Dallas, Texas area.</p>
                            <div class="btn-box clearfix">
                                <div class="call-now">
                                    <div class="inner">
                                        <i class="icon-mob"></i>
                                        <span>Book an Appointment Today!</span>
                                        <h3><a href="tel:+19723027710">(+1) 972-302-7710</a></h3>
                                    </div>
                                </div>
                                <a href="/welding-service" class="theme-btn-one"><span class="btn-shape"></span>learn more</a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/banner-1.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h5><i class="icon-warehouse"></i>Welcome To WestSide Service</h5>
                            <h1>Gate Repair & Installation Dallas</h1>
                            <p>You can count on the expert installation team here at WestSide Garage Door & Gates to provide the highest quality, most efficient, and most affordable garage door and  gate installation service for your Dallas, Texas area residential commercial, or industrial , property. Choose from our wide inventory, and watch as our expert technicians install your garage door and/or gates before your very eyes!</p>
                            <div class="btn-box clearfix">
                                <div class="call-now">
                                    <div class="inner">
                                        <i class="icon-mob"></i>
                                        <span>Book an Appointment Today!</span>
                                        <h3><a href="tel:+19723027710">(+1) 972-302-7710</a></h3>
                                    </div>
                                </div>
                                <a href="/garage-door-installation" class="theme-btn-one"><span class="btn-shape"></span>learn more</a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="slide-item">
                    <div class="image-layer" style="background-image:url(assets/images/banner/banner-2.jpg)"></div>
                    <div class="auto-container">
                        <div class="content-box">
                            <h5><i class="icon-warehouse"></i>Welcome To WestSide Service</h5>
                            <h1>Garage Door Openers Dallas</h1>
                            <p>WestSide Garage Door & Gates provides the highest quality garage door opener repair, service throughout the entire Dallas, Texas area. No matter what type of issue is affecting your home or  business garage door opener, our expert technicians can rapidly diagnose the problem, and swiftly provide instant solutions.</p>
                            <div class="btn-box clearfix">
                                <div class="call-now">
                                    <div class="inner">
                                        <i class="icon-mob"></i>
                                        <span>Book an Appointment Today!</span>
                                        <h3><a href="tel:+19723027710">(+1) 972-302-7710</a></h3>
                                    </div>
                                </div>
                                <a href="/garage-door-opener" class="theme-btn-one"><span class="btn-shape"></span>learn more</a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section end -->

        <section class="about-style-two">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_2">
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/resource/about-3.jpg" alt=""></figure>
                                <div class="single-box content-one">
                                    <h2><i class="icon-icon8"></i>1.9k</h2>
                                    <p>Projects Completed</p>
                                </div>
                                <div class="single-box content-two">
                                    <h2><i class="icon-icon9"></i>50+</h2>
                                    <p>Service Locations</p>
                                </div>
                                <!-- <div class="content-three">
                                    <div class="icon-box">
                                        <i class="icon icon-icon13"></i>
                                        <ul class="rating clearfix">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="text">
                                        <h3>Best Garage Door Company Award</h3>
                                        <span>ISO 2022:99 Certified</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_5">
                            <div class="content-box">
                                <div class="sec-title">
                                    <span>WestSide Garage Door and Gates</span>
                                    <h2>DALLAS GARAGE DOOR & GATES</h2>
                                </div>
                                <div class="text">
                                    <p>WestSide Garage Door & Gates provides the highest quality garage door, garage door opener, and gate installation gate repair, and maintenance service throughout the Dallas, Texas area. No matter the size and scale of your needs for your residential, commercial or industrial property, our team of experienced technicians will provide the highest quality, most efficient, and most courteous service - at a fair and competitive rate. Our services include, but are not limited to:</p>
                                    <ul class="list clearfix">
                                        <li>Garage Door Installation</li>
                                        <li>Garage Door Repair in Dallas</li>
                                        <li>Garage Door Opener Repair in Dallas</li>
                                        <li>Automatic Gate Installation</li>
                                        <li>Iron Work / Welding Service</li>
                                    </ul>
                                </div>
                                <div class="btn-box">
                                    <a href="/garage-door-repair">Read more on garage</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="service-section bg-color-1">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-1.png);"></div>
            <div class="auto-container">
                <div class="title-inner clearfix">
                    <div class="sec-title light text-right">
                        <span>WestSide Garage Door and Gates</span>
                        <h2>Garage Door Services</h2>
                    </div>
                    <div class="text">
                        <p>WestSide Garage Door & Gates provides a wide range of garage door installation, garage door repair, and maintenance services for residential, commercial, and industrial, locations throughout the Dallas, Texas area.</p>
                    </div>
                </div>
                <div class="three-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/garage-door-opener"><img src="assets/images/service/services-11.jpg" alt=""></a></figure>
                            <div class="lower-content">
                                <div class="icon-box">
                                    <div class="icon"><i class="icon-icon6"></i></div>
                                </div>
                                <div class="text">
                                    <h3><a href="/garage-door-opener">GARAGE DOOR OPENER DALLAS</a></h3>
                                    <p>WestSide Garage Door & Gates can install new, or replace old garage door openers at your residence or business - as well as repair all manner of issues that affect operation of garage door openers. You can trust that our team will provide solutions for your garage door opener needs in a simple matter of minutes - it’s our area of unparalleled expertise!</p>
                                </div>
                                <div class="link"><a href="/garage-door-opener">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/garage-door-cable-repair"><img src="assets/images/service/services-12.jpg" alt=""></a></figure>
                            <div class="lower-content">
                                <div class="icon-box">
                                    <div class="icon"><i class="icon-icon5"></i></div>
                                </div>
                                <div class="text">
                                    <h3><a href="/garage-door-cable-repair">GARAGE DOOR CABLES REPAIR DALLAS</a></h3>
                                    <p>
                                        WestSide Garage Door & Gates’ technicians have skills in repairing all manner of garage door cable
                                        issues - effectively restoring proper operation of your garage door - as well as restoring the
                                        safety of your home and/or business - right before your eyes!
                                    </p>
                                </div>
                                <div class="link"><a href="/garage-door-cable-repair">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/overhead-garage-door-repair"><img src="assets/images/service/services-13.jpg" alt=""></a></figure>
                            <div class="lower-content">
                                <div class="icon-box">
                                    <div class="icon"><i class="icon-icon4"></i></div>
                                </div>
                                <div class="text">
                                    <h3><a href="/overhead-garage-door-repair">Overhead Garage Door Repair Dallas</a></h3>
                                    <p>
                                        You can count on the seasoned professionals here at WestSide Garage Door & Gates to provide
                                        instant remedies to all and any problems that your overhead garage door may be experiencing.
                                        Simply contact our expert team for on-the-spot overhead garage door issue diagnosis and rapid
                                        repair.
                                    </p>
                                </div>
                                <div class="link"><a href="/overhead-garage-door-repair">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/garage-door-installation"><img src="assets/images/service/services-14.jpg" alt=""></a></figure>
                            <div class="lower-content">
                                <div class="icon-box">
                                    <div class="icon"><i class="icon-icon4"></i></div>
                                </div>
                                <div class="text">
                                    <h3><a href="/garage-door-installation">Garage Door Installation Dallas</a></h3>
                                    <p>
                                        Let the installation experts here at WestSide Garage Door & Gates outfit your Dallas, Texas residential, commercial,
                                        or industrial property with brand new garage doors. Choose from our
                                        wide inventory of garage doors to find a garage door that matches the unique needs of your
                                        property best.
                                    </p>
                                </div>
                                <div class="link"><a href="/garage-door-installation">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/garage-tension-spring-repair"><img src="assets/images/service/services-15.jpg" alt=""></a></figure>
                            <div class="lower-content">
                                <div class="icon-box">
                                    <div class="icon"><i class="icon-icon4"></i></div>
                                </div>
                                <div class="text">
                                    <h3><a href="/garage-tension-spring-repair">Garage Door Spring Repair Dallas</a></h3>
                                    <p>
                                        Repairing garage door springs can be a tricky operation; fortunately, the expert garage door
                                        spring repair team here at WestSide Garage Door & Gates can quickly repair all manner of issues
                                        that affect garage door tension, extension, and/or torsion springs - as well as safety cables,
                                        and all other garage door opener components.
                                    </p>
                                </div>
                                <div class="link"><a href="/garage-tension-spring-repair">Learn More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="cta-text centred">
                    <p>Want Your Garage Door Repair or Installation? We’re Ready To Start!</p>
                    <h3>Call Us Today <i class="icon-mob"></i> <a href="tel:+19723027710">(+1) 972-302-7710</a> or <a href="contact.html"><span>Request a FREE Quote</span></a></h3>
                </div> -->
            </div>
        </section>


        <section class="service-style-two bg-color-2 centred">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-4.png);"></div>
            <div class="auto-container">
                <div class="sec-title centred">
                    <span>WestSide Garage Door and Gates</span>
                    <h2>Gate Services</h2>
                    <p>WestSide Garage Door & Gates provides a wide range of gate installation, gate repair, and maintenance services for residential, commercial, and industrial locations <br /> throughout the Dallas, Texas area. Our services are available on an on-call, direct-to-location basis - and we provide all services with the highest level of <br />expertise, courtesy, and efficiency - and always for a fair, and budget-friendly rate.</p>
                </div>
                <div class="single-item-carousel owl-carousel owl-theme owl-nav-none dots-style-one">
                    <div class="service-block-two mb-80">
                        <div class="inner-box">
                            <div class="content-box">
                                <div class="icon-box"><i class="icon-icon6"></i></div>
                                <h2><a href="/residential-and-commercial-driveway-gate-operator-repair">DRIVEWAY GATES REPAIR</a></h2>
                                <p>Dallas, Texas Driveway Gate Repair Service. Properly functioning rolling and electric driveway gates help to ensure your home or business’ security, providing a security barrier between your property and the high street. However, driveway gates often experience malfunctions - and when these issues occur, you can rely on the driveway gate repair experts here at WestSide Garage Door & Gates to provide you with solutions.</p>
                                <div class="btn-box"><a href="/residential-and-commercial-driveway-gate-operator-repair" class="theme-btn-one"><span class="btn-shape"></span>Learn more</a></div>
                            </div>
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/service/service-2.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-two mb-80">
                        <div class="inner-box">
                            <div class="content-box">
                                <div class="icon-box"><i class="icon-icon6"></i></div>
                                <h2><a href="/garage-door-opener-repair">GATE OPERATOR REPAIR</a></h2>
                                <p>Fix your Existing Gate Operators, and Brand New Gate Operator Installation Services. The team of gate operator experts here at WestSide Garage Door & Gates can install brand new gate operators at your property - perfectly matched to your existing or desired gates. Our team can additionally repair all manner of driveway gate issues, restoring your existing driveway gates to good as new condition - and protecting your driveway gates from issues including wind resistance and dragging.</p>
                                <div class="btn-box"><a href="/garage-door-opener-repair" class="theme-btn-one"><span class="btn-shape"></span>Learn more</a></div>
                            </div>
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/service/service-1.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-two mb-80">
                        <div class="inner-box">
                            <div class="content-box">
                                <div class="icon-box"><i class="icon-icon6"></i></div>
                                <h2><a href="/residential-and-commercial-driveway-gate-operator-repair">DRIVEWAY GATES INSTALLATION DALLAS</a></h2>
                                <p>Dallas Texas Driveway Gate Installation Services. WestSide Garage Doors & Gates provides high quality gate installation services throughout the Dallas, Texas area.Our team of expert installation technicians can help you determine what brand, make, model, and style of driveway gate works best for your residential or commercial property - and then move on to provide full installation services including all gate entry systems and gate accessories.</p>
                                <div class="btn-box"><a href="/residential-and-commercial-driveway-gate-operator-repair" class="theme-btn-one"><span class="btn-shape"></span>Learn more</a></div>
                            </div>
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/service/service-4.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                    <div class="service-block-two mb-80">
                        <div class="inner-box">
                            <div class="content-box">
                                <div class="icon-box"><i class="icon-icon6"></i></div>
                                <h2><a href="/welding-service">WELDING SERVICES DALLAS</a></h2>
                                <p>On-Call, High Quality Welding Services in Dallas, Texas. WestSide Garage Door & Gates provides high quality welding service for all manners of gate, door, and fence issues. WestSide Garage Door & Gates provides same day welding services, including, but not limited to: Steel Gate Welding, Iron Gate Welding, Stainless Steel Gate Welding, Arc Welding, Decorative Gate Welding, Aluminium Gate Welding, Misaligned Gate Welding.</p>
                                <div class="btn-box"><a href="/welding-service" class="theme-btn-one"><span class="btn-shape"></span>Learn more</a></div>
                            </div>
                            <div class="image-box">
                                <figure class="image"><img src="assets/images/service/service-3.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <%- include('partials/company-portfolio-galary') -%>

        <!-- contact-info-section -->
        <section class="contact-info-section">
            <div class="contact-map">
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55945.16225505631!2d-73.90847969206546!3d40.66490264739892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1601263396347!5m2!1sen!2sbd"></iframe> -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d429174.12172752514!2d-97.06121100186549!3d32.82080973325499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c19f77b45974b%3A0xb9ec9ba4f647678f!2sDallas%2C%20TX%2C%20USA!5e0!3m2!1sen!2s!4v1717332983929!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="auto-container">
                <div class="info-inner">
                    <div class="row clearfix">
                        <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                            <div class="content_block_3">
                                <div class="content-box">
                                    <figure class="icon-layer"><img src="assets/images/icons/icon-9.png" alt=""></figure>
                                    <div class="sec-title">
                                        <span>WestSide Garage Door and Gates</span>
                                        <h2>Areas We Cover</h2>
                                    </div>
                                    <div class="text">
                                        <p>WestSide Garage Door & Gates provides convenient, on-call, direct-to-location service throughout the entire Dallas, Texas region. No matter your location, we will have an expert licensed technician at your property in no time at all, to provide you with the instant solutions you need.</p>
                                        <ul class="location-list clearfix">
                                            <li>All around DFW Area</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 content-column">
                            <div class="content_block_4">
                                <div class="content-box" style="background-image: url(assets/images/resource/contact-1.jpg);">
                                    <div class="text">
                                        <p>Installation & Repair Starts</p>
                                        <div class="support-box">
                                            <div class="icon-box"><i class="icon-mob"></i></div>
                                            <span>Book an Appointment Today!</span>
                                            <h3><a href="tel:+19723027710">(+1) 972-302-7710</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact-info-section end -->

        <%- include('partials/brands-we-carry') -%>

        <!-- cta-section -->
        <section class="cta-section">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-3.png);"></div>
            <div class="auto-container">
                <div class="inner-box clearfix">
                    <div class="text pull-left">
                        <h2>Urgent 24/7 Garage Door Repair, <br>Installation & Replacement Services</h2>
                    </div>
                    <div class="btn-box pull-right clearfix">
                        <a href="tel:+19723027710" class="call"><i class="icon-mob"></i>(+1) 972-302-7710</a>
                        <a href="/contact" class="theme-btn-one"><span class="btn-shape"></span>Get A quote</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- cta-section end -->

<%- include('partials/footer') -%>