<%- include('partials/header') -%>

        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Sectional Doors</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li>Sectional Doors</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details mb-0">
            <div class="px-4">
                <div class="row clearfix">

                    <%- include('partials/commercial-services', { currentUrl: currentUrl }) %>
                    
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <div class="text">
                                    <h2>Sectional Doors</h2>
                                    <div class="content-two">
                                        <div class="text">
                                            <p>If you’re in need of sectional doors, for an industrial garage, warehouse, or really any other commercial application you can think of, we’ve got the quality product and expert services you need at WestSide Garage Door!</p>
                                            <h3>We Have a Wide Array of Commercial Sectional Doors</h3>
                                            <p>We have a comprehensive selection of sectional doors at our commercial door company. You can choose between insulated, non-insulated, or wind loaded commercial sectional doors. We carry all the name brands, along with offering installation and repair services in DFW.</p>
                                            <p>Our industrial sectional doors are dependable and highly functional, even when used in highly demanding situations. A few applications we’ve seen our sectional doors used for include:</p>
                                            <ul>
                                                <li>Fire Stations</li>
                                                <li>Automobile Dealerships</li>
                                                <li>Service Stations</li>
                                                <li>RV or Commercial Storage Units</li>
                                                <li>Warehouses</li>
                                                <li>Distribution centers</li>
                                                <li>Police Stations</li>
                                                <li>Hospitals</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <figure class="image-box"><img src="assets/images/service/commertial-images/1.jpg" alt=""></figure>
                                <div class="content-two">
                                    <div class="text">
                                        <p>When you need an industrial-strength sectional door with a clean appearance, come to WestSide Garage Door and we’ll set you up with a commercial door that can withstand wear and tear better than any other doors in the market. Our sectional doors are built to last.</p>
                                        <h3>We Offer Customizable Commercial Sectional Doors</h3>
                                        <p>We understand that durability isn’t the only requirement for commercial sectional doors. With that in mind, we keep a wide inventory of doors, products, and accessories that allow our customers to find the perfect match for their environment. Available options include:</p>
                                        <ul>
                                            <li>Aluminum, steel or wood construction</li>
                                            <li>Windows and panel collections</li>
                                            <li>Remote Controls</li>
                                            <li>Selection of Colors and Panel styles</li>
                                            <li>Thermally Efficient Insulation</li>
                                            <li>High Cycle Rollers and Springs</li>
                                            <li>Storm-ready Wind Loaded Doors</li>
                                            <li>Complete line of operators</li>
                                            <li>Customization solutions to meet any need</li>
                                        </ul>
                                        <h3>Our Commercial Sectional Garage Door Services</h3>
                                        <p>We provide the following commercial services for sectional doors to businesses across the state of DFW</p>
                                        <ul>
                                            <li>Commercial Sectional Door Repair</li>
                                            <li>Commercial Sectional Door Installation</li>
                                            <li>Commercial Sectional Door Maintenance</li>
                                            <li>Commercial Sectional Door Replacement</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content-two">
                                    <div class="text">
                                        <p>If you have any questions about the applications, customization options, or installation and repair services of our sectional door department, contact us! We’re ready to help you out, whether it’s finding the perfect sectional doors for your business, repairing a door causing you problems, or anything in between.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->

        <%- include('partials/company-portfolio-galary') -%>


        
<%- include('partials/footer') -%>
