<%- include('partials/header') -%>

        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Security Cases</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li>Security Cases</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details mb-0">
            <div class="px-4">
                <div class="row clearfix">

                    <%- include('partials/commercial-services', { currentUrl: currentUrl }) %>
                    
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <div class="text">
                                    <h2>Security Cases</h2>
                                    <div class="content-two">
                                        <div class="text">
                                            <h3>Top Priority:  Security</h3>
                                            <p>WestSide Garage Door have partnered with QMI the nation’s leader in Storefront Security and Hurricane shutters. With over 56 years combined experience you can trust the workmanship and quality to protect your investments. We also offer Security Screens which assist in curtailing sun damage, golf ball hits and harsh weather of any kind. Rolling Steel Shutters give you full protection. Burglars will ignore your property when they see it takes longer than the average 2-minute-smash and grab.</p>
                                            <ul>
                                                <li>Custom built every time</li>
                                                <li>Compact housing box helps retains architectural integrity</li>
                                                <li>Strong, Smooth, Quiet, operation</li>
                                                <li>EZ Drive option by-passes hard wiring</li>
                                                <li>7 color options</li>
                                                <li>Manual, motor or remote control operation</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <figure class="image-box"><img src="assets/images/service/commertial-images/2.jpg" alt=""></figure>
                                <div class="content-two">
                                    <div class="text">
                                        <h3>Hurricane & Storm Protection</h3>
                                        <p>Storm Protection Applications:</p>
                                        <ul>
                                            <li>Windows</li>
                                            <li>Balconies</li>
                                            <li>Patios</li>
                                            <li>Condos</li>
                                            <li>Rental Properties</li>
                                            <li>Investment Properties</li>
                                            <li>Multi-unit Complex</li>
                                            <li>Restaurant & Clubs</li>
                                            <li>Retirement Communities</li>
                                            <li>Country Clubs</li>
                                            <li>Golf Clubhouse</li>
                                        </ul>
                                        <h4>Style, Beauty, Function</h4>
                                        <p>No boarded up look here, QMI’s rolling shutters are the perfect choice. Rolling Shutters provide the ultimate in Hurricane protection while maintaining beauty. Protect against harsh weather conditions such as: Hot Heat, Sun Fade, Golf Ball hits, hurricane, hail, high wind, rain and even noise. QMI standards and trusted workmanship from Texas Overhead Door equals peace of mind for you.</p>
                                        <ul>
                                            <li>Remote control or manual operation</li>
                                            <li>Covers up to 20’ wide Window & Door spans</li>
                                            <li>Maintain architectural style and beauty</li>
                                            <li>Proven Peace of Mind</li>
                                            <li>Tested and Certified quality shutters</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->

        <%- include('partials/company-portfolio-galary') -%>


        
<%- include('partials/footer') -%>
