<%- include('partials/header') -%>

        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Security Doors</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li>Security Doors</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details mb-0">
            <div class="px-4">
                <div class="row clearfix">

                    <%- include('partials/commercial-services', { currentUrl: currentUrl }) %>
                    
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <div class="text">
                                    <h2>Security Doors</h2>
                                    <div class="content-two">
                                        <div class="text">
                                            <p>At WestSide Garage Door, we understand the value of a dependable security door – a place of business isn’t just a building, it’s your livelihood that needs to be protected. We provide our clients with the best security doors. Reliable and attractive.</p>
                                            <h3>Security Doors From WestSide Garage Door</h3>
                                            <p>WestSide Garage Door is partnered with the longtime leader of Security Shutters- QMI. Together with QMI we have combined experience of 56 years.</p>
                                            <p>We make sure that your security grilles, doors and shutters are the most effective for your building and the environment. Not only do we provide security doors and products, we also offer commercial security door replacement, maintenance, installation and repair.</p>
                                            <p>With thousands of door and shutter installs you can rest assure we pay attention to details.</p>
                                            <p>We offer all types of security doors:</p>
                                            <ul>
                                                <li>Storefront Security Doors</li>
                                                <li>Home Security & Storm Doors</li>
                                                <li>Pharmacy Doors</li>
                                                <li>Security Cases</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <figure class="image-box"><img src="assets/images/service/commertial-images/2.jpg" alt=""></figure>
                                <div class="content-two">
                                    <div class="text">
                                        <h3>Our Security Door Services</h3>
                                        <p>We provide the following commercial services for security doors to businesses across the state of DFW:</p>
                                        <ul>
                                            <li>Security Door Repair</li>
                                            <li>Security Door Installation</li>
                                            <li>Security Door Maintenance</li>
                                            <li>Security Door Replacement</li>
                                        </ul>
                                        <p>Feel free to click through and check out further details of the commercial security doors we provide. Of course, if you’d like to speak directly with a security door expert, contact us at WestSide Garage Door – we’d be happy to answer any questions you have and help you pick the best commercial door for your security needs.</p>
                                    </div>
                                </div>
                                <div class="content-two">
                                    <div class="text">
                                        <h3>Protect your Family</h3>
                                        <p>You work hard to provide the best for your family; don’t take a chance of losing your possessions from a home break-in. Partnered with the longtime leader of Security Shutters- QMI we have  combined experience of 56 years. Providing Storm Shutters, Storefront Shutters and Home Protection in the United States and beyond.</p>
                                        <ul>
                                            <li>Highest Quality shutters available</li>
                                            <li>Don’t risk your family’s safety</li>
                                            <li>Leading the field in Secure Protection – QMI & WestSide Garage Door</li>
                                            <li>Providing protection from severe weather & sun damage</li>
                                            <li>Invisible from the inside</li>
                                            <li>Storm Shutters are hurricane-approved (up to 200 miles an hour)</li>
                                            <li>Variety of Colors & options – talk to our experts first!</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->

        <%- include('partials/company-portfolio-galary') -%>


        
<%- include('partials/footer') -%>
