<%- include('partials/header') -%>

        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Service Doors</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li>Service Doors</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details mb-0">
            <div class="px-4">
                <div class="row clearfix">

                    <%- include('partials/commercial-services', { currentUrl: currentUrl }) %>
                    
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <div class="text">
                                    <h2>Service Doors</h2>
                                    <p>
                                        When headroom, side-room or lighting is critical, our rolling steel service doors will meet your design specifications. We offer a comprehensive array of commercial service doors, able to satisfy any working or aesthetic requirements you may have.
                                    </p>
                                </div>
                                <figure class="image-box"><img src="assets/images/service/commertial-images/5.jpg" alt=""></figure>
                                <div class="content-two">
                                    <div class="text">
                                        <h3>The Many Applications of Our Commercial Service Doors</h3>
                                        <p>Industrial applications of Texas Overhead Door’s service doors include:</p>
                                        <ul>
                                            <li>Gas/Oil Services</li>
                                            <li>Manufacturing</li>
                                            <li>Distribution</li>
                                            <li>Storage Unit Facility</li>
                                            <li>Warehouse</li>
                                            <li>Hospital</li>
                                            <li>Fire/Police Stations</li>
                                            <li>Auto Dealerships</li>
                                            <li>Really, the list is endless</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="content-two">
                                    <div class="text">
                                        <h3>The heavy-duty features and options that come with our doors include:</h3>
                                        <ul>
                                            <li>Manual, remote or radio controlled operation</li>
                                            <li>Commercial Rolling Steel Service Doors Various colors and styles of curtains</li>
                                            <li>High use life-cycle on all rolling steel doors</li>
                                            <li>Hard-working doors with a sleek look inside and out</li>
                                            <li>Cost Effective and Fast Installation</li>
                                            <li>Steel or aluminum Construction in various gauges</li>
                                            <li>Optional Pass Door</li>
                                        </ul>
                                        <p>If you’re interested in learning more about the commercial doors we design and install, or have a service door repair job, don’t hesitate to contact us!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->

        <%- include('partials/company-portfolio-galary') -%>


        
<%- include('partials/footer') -%>
