<%- include('partials/header') -%>

        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Specialty Doors</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li>Specialty Doors</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details mb-0">
            <div class="px-4">
                <div class="row clearfix">

                    <%- include('partials/commercial-services', { currentUrl: currentUrl }) %>
                    
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <div class="text">
                                    <h2>Specialty Doors</h2>
                                    <div class="content-two">
                                        <div class="text">
                                            <p>There is no commercial door project that we cannot handle at WestSide Garage Doors! Our special-use doors are custom built to your specifications. We welcome any project or challenge our clients bring us! With over 27 years in the industry and tens of thousands of doors installed, we’re confident we can meet your requirements!</p>
                                            <h3>The Commercial Specialty Doors We Offer</h3>
                                            <p>We have a large array of specialty doors that we supply, install, and repair, and if you don’t see it on the list below, contact us! We have the expert and experience to tackle any overhead specialty door project, so chances are we can help you with yours!</p>
                                            <ul>
                                                <li>Hangar Doors</li>
                                                <li>Sound Doors</li>
                                                <li>Accordion Doors</li>
                                            </ul>
                                            <p>Ready to begin your specialized use door project? Contact us and let’s get started bringing your designs and needs into reality!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->

        <%- include('partials/company-portfolio-galary') -%>


        
<%- include('partials/footer') -%>
