<%- include('partials/header') -%>

        <!-- Page Title -->
        <section class="page-title centred" style="background-image: url(assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Storefront Security Doors</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li>Storefront Security Doors</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- service-details -->
        <section class="service-details mb-0">
            <div class="px-4">
                <div class="row clearfix">

                    <%- include('partials/commercial-services', { currentUrl: currentUrl }) %>
                    
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="service-details-content">
                            <div class="content-one">
                                <div class="text">
                                    <h2>Storefront Security Doors</h2>
                                    <div class="content-two">
                                        <div class="text">
                                            <p>The storefront security doors we offer are extremely dependable, sturdy enough to withstand extreme amounts of damage, from theft to floods.</p>
                                            <h3>WestSide Garage Door’s Storefront Security Doors</h3>
                                            <p>The storefront doors we provide are solid aluminum, a material that has been proven to be the best in the market of storefront security measures. Some of the reassurances that come with using a solid aluminum door include:</p>
                                            <ul>
                                                <li>Strongest single-wall roll-up shutter available</li>
                                                <li>Prevents break-ins</li>
                                                <li>Hurricane-approved</li>
                                                <li>Helps prevent water damage with our solid units</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <figure class="image-box"><img src="assets/images/service/commertial-images/1.jpg" alt=""></figure>
                                <div class="content-two">
                                    <div class="text">
                                        <h3>Heavy Security While Remaining Highly Functional</h3>
                                        <p>While the storefront security doors we provide the highest level of protection, we don’t sacrifice function in order to maintain the high safety standards. While the security doors can withstand hurricane weather, they remain surprisingly functional, easy to use, with customization options that allow them to fit in with the aesthetics of your store. Customization options include:</p>
                                        <ul>
                                            <li>Variety of styles, including see-through, providing the optimum level of protection while allowing merchandise views.</li>
                                            <li>Operation can be manual or motorized</li>
                                            <li>Wide array of color choices</li>
                                            <li>Strong aluminum curtain profiles</li>
                                            <li>Great for malls, convenience stores and general retail</li>
                                            <li>Secure and strong</li>
                                            <li>Quick and easy operation</li>
                                        </ul>
                                        <p>Several other options include: Clear profiles, Rolling Grilles, Side Folding and Security Screens. Let us know your specifications and we can install the protection you need!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-details end -->

        <%- include('partials/company-portfolio-galary') -%>


        
<%- include('partials/footer') -%>
